APP_PORT=53378
DATASET_HOST_PATH=/data/kuangyong/data/car_img_database/dataset_png
MODELS_HOST_PATH=./models
NVIDIA_VISIBLE_DEVICES=all
CUDA_VISIBLE_DEVICES=0
SHM_SIZE=4gb
TORCH_INDEX_URL=https://download.pytorch.org/whl/cu124
EXPOSE_ERROR=0
